body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(159, 205, 243);
}

nav{
    height: 40%;
    background-color: rgb(159, 205, 243);
    text-align: center;
}

nav .main_pages a 
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: black;
}

nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a:hover 
{
    background: rgb(102, 203, 243);
}


img {
	width: 180px;
	height: 180px;  
}

#unique{
    color: black;
}

#uniqueB{
    color: black;
}

#uniqueC{
    color: black;
}

#uniqueD{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uniqueE{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uniqueF{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uniqueG{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    text-align: center;
}

ul{
    padding: 0px;
    list-style-type: none;
    border: 2px solid rgb(255, 164, 164);
}

li{
    padding: 2em;
}

.article{
    margin-top: 30px;
}

.article.article{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.article .article .left img{
    height: 280px;
    width: 400px;
}

.article .article .right{
    max-width: 50%;
    margin-left: 60px;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex1{
    display: flex;
    justify-content: space-between;;
}

.conteneur{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;}

.social{
    position: relative;
    background-color:cornsilk;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.social img{
    z-index: 2;
    width: 30px;
    height: 30px;
}

.fond{
    top: -40px;
    z-index: 1;
    display: block;
    height: 40px;
    width: 40px;
    background-color: rgb(96, 111, 121);
    position: absolute;
    transition: 0.5s;
}

.social:hover .fond{
    top: 0;
}